.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative
}
.headercontainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px
}
.headercontainer.listmode{
    margin: 20px 0px 0px 0px

}
.headerlist{
    display: flex;
    gap: 40px;
    margin-bottom: 50px
}
.headerlistitem{
    display: flex;
    align-items: center;
    gap: 10px
}
.headerlistitem.active{
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px
}
.headerdesc{
    margin: 20px 0px;
}
.headerbtn{
    padding: 10px;
    background-color: #0071c2;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500px
}
.headersearch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 3px solid #febb02;
    height: 30px;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width:100%;
    max-width: 1024px
}
.headerIcon{
    color: lightgrey
}
.headersearchitem{
    display: flex;
    align-items: center;
    gap:  10px
}
.headersearchinput{
    border: none;
    outline: none
}
.headersearchtext{
    color: lightgrey;
    cursor: pointer
}
.date{
    position: absolute;
    top:50px;
    z-index: 2;
}
.options{
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4)
}
.optionitem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px
}
.optioncounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black
}
.optioncounterbutton{
    color: #0071c2;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    background-color: white;
}
.optioncounterbutton:disabled{
cursor: not-allowed
}